
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;

    }

    .pagination a.active {
        background-color: dodgerblue;
        color: white;
    }
    .pagination a:hover:not(.active) {
        background-color: #e36767;
    }


</style>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(#b8c4da,#15c79d)">
        <a class="navbar-brand" href="/home">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post" action="/search" style="margin-right:20px ">
                <input class="form-control mr-sm-2" id= "search" name="search" type="search" placeholder="Tìm kiếm trong kho" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
            <button class="btn btn-dark my-2 my-sm-0" type="submit"><a class="nav-link" style="color: white" href="/logout">Đăng xuất</a></button>
        </div>
    </nav>


    <div class="card">
        <div class="card-header">
            Thêm Mới
            <a href="/create" class="btn btn-success">+</a>

        </div>

        <div class="card-header">
            Sắp xếp
            <a href="/arrange2" class="btn btn-success">Tăng dần</a>
            <a href="/arrange" class="btn btn-success" >Giảm dần</a>
        </div>
        <div class="card-header">
            Phân loại
            <a href="/classify1" class="btn btn-success">Giày trẻ em</a>
            <a href="/classify2" class="btn btn-success" >Giày người lớn</a>
            <a href="/classify3" class="btn btn-success" >Giày công sở</a>
            <a href="/classify4" class="btn btn-success" >Giày nam</a>
            <a href="/classify5" class="btn btn-success" >Giày nữ</a>
            <a href="/classify6" class="btn btn-success" >Dép trẻ em</a>
            <a href="/classify7" class="btn btn-success" >Dép người lớn</a>
            <a href="/classify8" class="btn btn-success" >Dép nam</a>
            <a href="/classify9" class="btn btn-success" >Dép nữ</a>
            <a href="/classify10" class="btn btn-success" >Giày thể thao</a>
            <a href="/classify11" class="btn btn-success" >Giày cao gót</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Giảm giá</th>
                    <th scope="col">Xuất sứ</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col" >Ảnh</th>
                </tr>
                </thead>
                <tbody>
                {products}
                </tbody>
            </table>

            <div class="pagination" style="margin-left: 370px">
                <a href="#">«</a>
                <a href="/paging/1">1</a>
                <a href="/paging/2">2</a>
                <a href="/paging/3">3</a>
                <a href="/paging/4">4</a>
                <a href="/paging/5">5</a>
                <a href="/paging/6">6</a>
                <a href="#">»</a>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>




